{{- $coverImage := partial "seo_cover_image.html" . -}}
{{- if $coverImage -}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $coverImage }}">
{{- else }}
<meta name="twitter:card" content="summary">
{{- end }}

{{- with partial "seo_title.html" . | plainify }}
  <meta name="twitter:title" content="{{ . }}">
{{- end }}

{{- with partial "seo_description.html" . | plainify | htmlUnescape }}
  <meta name="twitter:description" content="{{ trim . "\n\r\t " }}">
{{- end }}

{{- $twitterSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .twitter }}
      {{- $content := . }}
      {{- if not (strings.HasPrefix . "@") }}
        {{- $content = printf "@%v" . }}
      {{- end }}
      <meta name="twitter:site" content="{{ $content }}">
    {{- end }}
  {{- end }}
{{- end }}
